*{
    margin: 0;
}
body{
    background-color: #585757;
    font-family: 'Roboto', sans-serif;
}
.nav{
    display: flex;
    background-color:#585757;
    padding: 20px 0;
    justify-content: center;
    border-bottom: 1px solid rgb(14, 13, 13);
}
.nav a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 0 50px;
}
.zuri{
    margin-left: 900px;
}
/*style for the main section*/
.register-login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.register-login a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 20px;
   border:1px solid black;
    margin: 0 50px;
}
.register-login a:hover{
    background-color: #fff;
    color: #585757;
}
#register-container h1{
    text-align: center;
    color: white;
    font-size: 50px;
  margin-top: 70px;
}